.title {
  display: flex;
  align-items: center;
  gap: $size-lg;
  background-color: $color-blue-light;
  color: white;
  box-shadow: $shadow-default;
  padding: $size-x-sm $size-md;
  h1 {
    font-size: 20px;
  }

  a {
    box-shadow: none!important;
    color: white!important;
    &:hover {
      filter: brightness(90%);
    }
  }
}