<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta 
		name="google-signin-client_id" 
		content="758698021538-21h6tam7rt6acsdk2df740ao232dvs4b.apps.googleusercontent.com" 
	/>
	<title>JakPintas</title>
</head>
<body>
	<header id="appHeader">
		<app-bar id="appBar"></app-bar>
	</header>

	<main id="main">
		<div id="mainPage">
			<map-box></map-box>
		</div>
		
		<div id="userProfilePage" class="d-none">
			<a href="#" aria-label="return main page">
				<i class="bi bi-arrow-left"></i>
			</a>
			<div class="container-user">
				<img 
					id="userImage" 
					src="https://static.vecteezy.com/system/resources/previews/002/318/271/non_2x/user-profile-icon-free-vector.jpg" 
					alt="user image"
				/>

				<p id="userName"></p>
				<p id="userEmail"></p>

				<div class="d-flex gap-md">
					<div 
						class="g-signin2" 
						data-onsuccess="onSignIn"
						style="height: 44px;"
					>
					</div>

					<button 
						href="#" 
						onclick="signOut();"
						class="btn-sign-out"
					>
						Sign out
					</button>
				</div>
			</div>
		</div>
	</main>

	<div id="floatBottom">
		<bottom-navbar id="bottomNavbar"></bottom-navbar>
	</div>

	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script>
		function onSignIn(googleUser) {
			const profile = googleUser.getBasicProfile();
			const userImage = document.querySelector('#userImage');
			const userName = document.querySelector('#userName');
			const userEmail = document.querySelector('#userEmail')
			const userImageInAppBar = document.querySelector('#userImageInAppBar');

			userImage.src = profile.getImageUrl();
			userName.textContent = profile.getName();
			userEmail.textContent = profile.getEmail();
			userImageInAppBar.src = profile.getImageUrl();
		}

		function signOut() {
			const auth2 = gapi.auth2.getAuthInstance();
			auth2
				.signOut()
				.then(() => {
					console.log('User signed out.');
				});
		}
	</script>
</body>
</html>