.my-bg-white { background-color: $color-white!important; }
.my-bg-light { background-color: $color-light!important; }
.my-bg-black { background-color: $color-black!important; }
.my-bg-purple{ background-color: $color-purple!important; }
.my-bg-cyan { background-color: $color-cyan!important; }
.my-bg-orange-dark { background-color: $color-orange-dark!important; }
.my-bg-orange-light { background-color: $color-orange-light!important; }
.my-bg-blue-dark { background-color: $color-blue-dark!important; }
.my-bg-blue-light { background-color: $color-blue-light!important; }
.my-bg-turqoise-light { background-color: $color-turqoise-light!important; }
.my-bg-turqoise-medium { background-color: $color-turqoise-medium!important; }
.my-bg-turqoise-dark { background-color: $color-turqoise-dark!important; }